@import "../../app.scss";

.cursor{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    border: 1px solid white;
    z-index: 999;

    @include mobile{
        display: none;
    }
}